.header{
	.row{
		position: fixed;
		top: 0;
		z-index: 999;
		width: 100%;
		border-bottom: 1px solid white;
		@include respond-at-max(768px){
			background-color: white;
		}
		.logo-wrapper{
			padding-bottom: 10px;
			padding-top: 10px;
			.logo{
				cursor: pointer;
				height: 35px;
				width: 250px;
				margin-top: 5px;
			}
		}
		.responsive-menu{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.ham-burger {
				display: none;
				@include respond-at-max(768px){
					margin-top: 20px;
					display: inline-block;
					width: 4.5em;
					height: 1.5em;
					vertical-align: middle;
					content: "";
					background: no-repeat 50%;
					background-size: 100% 100%;
				}
				@include respond-at-max(480px){
					margin-top: 12px;
					display: inline-block;
					width: 4.5em;
					height: 1.5em;
					vertical-align: middle;
					content: "";
					background: no-repeat 50%;
					background-size: 100% 100%;
				}
			}
		}
		.navigation-container{
			padding-bottom: 10px;
			padding-top: 10px;
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin-top: 5px;
			@include respond-at-max(768px){
		        display: none;
		    }
			.navigation-items{
				font-weight: 400;
				font-size: 12px;
				line-height: 32px;
				letter-spacing: 0;
				color: #f6f8f9;
				cursor: pointer;
			}
			.header-btn{
				background-color: #62ce9a;
				color: white;
				font-size: 12px;
				border-style: none;
				padding: 5px 15px;
				border-radius: 50px;
			}
		}
		.responsive-Menu-wrapper{
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-bottom: 12px;
			width: 90%;
			.responsive-Menu {
				align-self: center;
				margin-top: 20px;
				.responsive-Menu-list {
					padding: 20px 0px;						
					font-weight: 400;
					font-size: 16px;
					line-height: 32px;
					color: #4a4848;
					cursor: pointer;
				}
				.header-btn{
					background-color: #62ce9a;
					color: white;
					font-size: 20px;
					border-style: none;
					padding: 10px 20px;
					border-radius: 50px;
				}
			}
		}		
	}	
}